## ANALISIS DE DATOS DE HR (HEART RATE)

El presente es para analizar los datos del Heart Rate del smartwatch, el cual tiene un procesamiento de datos en 1Hz, que seria un dato por segundo

In [267]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [268]:
PACIENTE = '015'
PATH_FOLDER = 'G:\\Dataset\\big-ideas-lab-glycemic-variability-and-wearable-device-data-1.1.2\\'+PACIENTE+'\\'

In [269]:
# Leyendo el CSV
heartrate_values = pd.read_csv(PATH_FOLDER + 'HR_'+PACIENTE+'.csv', engine='python', na_values="not available")

In [270]:
heartrate_values.head()

              datetime     hr
0  2020-07-24 07:07:59  51.00
1  2020-07-24 07:08:00  51.00
2  2020-07-24 07:08:01  50.33
3  2020-07-24 07:08:02  55.75
4  2020-07-24 07:08:03  61.20

In [271]:
heartrate_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436509 entries, 0 to 436508
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  436509 non-null  object
 1    hr       436509 non-null  float64
dtypes: float64(1), object(1)
memory usage: 6.7+ MB

In [272]:
heartrate_values.count()

datetime    436509
 hr         436509
dtype: int64

In [273]:
heartrate_values["datetime"].head()

0    2020-07-24 07:07:59
1    2020-07-24 07:08:00
2    2020-07-24 07:08:01
3    2020-07-24 07:08:02
4    2020-07-24 07:08:03
Name: datetime, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 5 minutos los datos para obtener el promedio y media de los datos

In [274]:
# Convertimos en fechas los datimetimes
heartrate_values['datetime'] = pd.to_datetime(heartrate_values['datetime'])
print(heartrate_values.columns)

Index(['datetime', ' hr'], dtype='object')

In [275]:


## Se coloca el datetime como index
heartrate_values = heartrate_values.set_index('datetime')
heartrate_values.head()

                        hr
datetime
2020-07-24 07:07:59  51.00
2020-07-24 07:08:00  51.00
2020-07-24 07:08:01  50.33
2020-07-24 07:08:02  55.75
2020-07-24 07:08:03  61.20

In [276]:
df_procesado_5min = heartrate_values[' hr'].resample('5min')

### Calculamos le media, la mediana y demas factores de estadistica

En este caso tenemos que obtener el promedio, mediana, max, min, desviacion estandar y quartiles

In [277]:
# Funcion para calcular los cuartiles 1 y 3 que indican en el paper
# 
def quartiles(x):
    return pd.Series([x.quantile(0.25), x.quantile(0.75)], index=['q1', 'q3'])

In [278]:
# Crear a serie de dataframe de 5 min
series5min = quartiles(df_procesado_5min)
series5min.head()

q1    datetime
2020-07-05 15:10:00     85.9000
2020-...
q3    datetime
2020-07-05 15:10:00     90.7300
2020-...
dtype: object

In [ ]:
# Definimos los metodos del dataframe a calcular
df_5min = df_procesado_5min.agg(['mean', 'median', 'max', 'min', 'std'])
print(df_5min.columns)
# Removemos las columnas que no necesitamos por ahora
# columns_to_remove = [' temp']
# df_5min = df_5min.drop(columns=columns_to_remove)
df_5min.head(10)

Index(['mean', 'median', 'max', 'min', 'std'], dtype='object')

                           mean   median     max    min        std
datetime
2020-07-05 15:10:00   88.512212   88.950  106.80  70.00   4.248760
2020-07-05 15:15:00   91.581833   88.425  109.28  83.73   7.638901
2020-07-05 15:20:00   85.107633   85.080   87.07  83.58   0.694245
2020-07-05 15:25:00   84.917267   85.220   88.42  81.92   1.893955
2020-07-05 15:30:00   84.734367   85.045   94.18  70.65   7.490427
2020-07-05 15:35:00   83.552333   85.725   89.47  72.00   5.562452
2020-07-05 15:40:00   78.658767   78.235   92.18  73.28   4.277199
2020-07-05 15:45:00   91.911700   92.300  104.58  80.47   6.472030
2020-07-05 15:50:00   93.060067   89.930  109.65  82.72   7.808059
2020-07-05 15:55:00   89.426800   87.660  110.98  75.32  10.950346
2020-07-05 16:00:00   86.597833   85.725  111.83  71.08  13.660650
2020-07-05 16:05:00  102.442633  106.025  122.02  85.45  10.778398
2020-07-05 16:10:00   84.682133   84.890   91.83  75.70   5.335222
2020-07-05 16:15:00   76.973467   79.940   89.55  56.57   9.721582
2020-07-05 16:20:00   82.449233   88.145   94.18  55.87  12.713704
2020-07-05 16:25:00   90.918567   91.700   98.38  84.65   4.299798
2020-07-05 16:30:00   90.794100   90.535   99.55  80.23   5.230233
2020-07-05 16:35:00   80.742133   81.965  105.67  56.22  17.445373
2020-07-05 16:40:00   92.373500   92.075   95.82  89.35   1.772778
2020-07-05 16:45:00   92.331367   92.330   93.55  90.93   0.703835

In [280]:
# Lo mismo aplicamos para 1 hora
df_procesado_1hora = heartrate_values[' hr'].resample('1h') 
# Obtenemos el promedio
df_1hora = df_procesado_1hora.agg(['mean', 'median', 'max', 'min', 'std'])

# Removemos las columnas que no necesitamos por ahora
# df_1hora = df_1hora.drop(columns=columns_to_remove)
df_1hora.head(10)

                          mean  median     max    min        std
datetime
2020-07-05 15:00:00  87.107432  86.100  110.98  70.00   7.764608
2020-07-05 16:00:00  87.393519  90.225  122.02  53.97  12.044741
2020-07-05 17:00:00  92.909047  94.590  118.52  65.10  11.294148
2020-07-05 18:00:00  86.043358  88.000  101.88  63.50   7.164140
2020-07-05 19:00:00  86.061656  87.350  103.42  54.07   7.018286
2020-07-05 20:00:00  85.747272  85.330  121.17  61.65   8.976035
2020-07-05 21:00:00  89.374128  89.320  120.20  66.67   8.495999
2020-07-05 22:00:00  90.795614  91.150   98.48  74.63   3.676974
2020-07-05 23:00:00  92.399744  91.930  103.33  89.55   1.956739
2020-07-06 00:00:00  89.757167  90.030  110.15  67.68   4.929549

In [281]:
# Separar los cuartiles en columnas individuales
# Obtenemos los quantiles
df_5min_quantil1 = df_procesado_5min.quantile(0.25)
df_5min_quantil3 = df_procesado_5min.quantile(0.75)
df_1hora_quantil1 = df_procesado_1hora.quantile(0.25)
df_1hora_quantil3 = df_procesado_1hora.quantile(0.75)
df_5min['q1'] = df_5min_quantil1
df_5min['q3'] = df_5min_quantil3
df_5min.head(10)
# df_1hora[['q1', 'q3']] = [df_1hora_quantil1,df_1hora_quantil3]

,mean,median,max,min,std,q1,q3
datetime,,,,,,,
2020-07-05 15:10:00,88.512212,88.950,106.80,70.00,4.248760,85.9000,90.7300
2020-07-05 15:15:00,91.581833,88.425,109.28,83.73,7.638901,86.6100,95.4675
2020-07-05 15:20:00,85.107633,85.080,87.07,83.58,0.694245,84.7450,85.4800
2020-07-05 15:25:00,84.917267,85.220,88.42,81.92,1.893955,83.1200,85.8475
2020-07-05 15:30:00,84.734367,85.045,94.18,70.65,7.490427,77.9000,92.6700
2020-07-05 15:35:00,83.552333,85.725,89.47,72.00,5.562452,82.6725,87.8500
2020-07-05 15:40:00,78.658767,78.235,92.18,73.28,4.277199,75.0775,80.8375
2020-07-05 15:45:00,91.911700,92.300,104.58,80.47,6.472030,87.3600,95.2925
2020-07-05 15:50:00,93.060067,89.930,109.65,82.72,7.808059,87.7075,97.2175
2020-07-05 15:55:00,89.426800,87.660,110.98,75.32,10.950346,79.0825,97.1600

In [282]:
df_5min.count()

mean      1165
median    1165
max       1165
min       1165
std       1165
q1        1165
q3        1165
dtype: int64

In [283]:
# Igual con 1hora de dataset
df_1hora['q1'] = df_1hora_quantil1
df_1hora['q3'] = df_1hora_quantil3
df_1hora.head(10)

,mean,median,max,min,std,q1,q3
datetime,,,,,,,
2020-07-05 15:00:00,87.107432,86.100,110.98,70.00,7.764608,83.180,90.470
2020-07-05 16:00:00,87.393519,90.225,122.02,53.97,12.044741,82.245,92.920
2020-07-05 17:00:00,92.909047,94.590,118.52,65.10,11.294148,86.500,99.320
2020-07-05 18:00:00,86.043358,88.000,101.88,63.50,7.164140,81.920,90.850
2020-07-05 19:00:00,86.061656,87.350,103.42,54.07,7.018286,83.445,89.835
2020-07-05 20:00:00,85.747272,85.330,121.17,61.65,8.976035,81.215,89.000
2020-07-05 21:00:00,89.374128,89.320,120.20,66.67,8.495999,86.150,91.980
2020-07-05 22:00:00,90.795614,91.150,98.48,74.63,3.676974,89.800,92.380
2020-07-05 23:00:00,92.399744,91.930,103.33,89.55,1.956739,91.180,93.330
2020-07-06 00:00:00,89.757167,90.030,110.15,67.68,4.929549,88.480,91.885

In [284]:
df_1hora.count()

mean      101
median    101
max       101
min       101
std       101
q1        101
q3        101
dtype: int64

In [285]:
# Exportamos los resultados en un csv
df_5min.to_csv("HR_5min_"+PACIENTE+".csv")
df_1hora.to_csv("HR_1hora_"+PACIENTE+".csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 5 MIN Y 1 HORA